<div class="row">
  <div class="col-sm-12 col-lg-7 pr-3">
    {{ content.	field_images }}
  </div>
  <div class="col-sm-12 col-lg-5 d-flex flex-column pl-3">
    <h2>{{ label }}</h2>
    <div class="d-flex flex-row">
      <span class="text-muted">Type:</span>
      <span class="ml-2">{{ content.field_portfolio_type }}</span>
    </div>
    <div>{{ content.body }}</div>
    <div class="border-top pt-3">
      <div class="d-flex flex-row"><span class="pr-2">Project URL:</span>{{ content.field_project_url }}</div>
    </div>
  </div>
</div>
