<div>
  <div>{{ fields.title.content }}</div>
  <s class="text-secondary">{{ fields.field_old_price.content }}</s>
  <span class="font-weight-bold">{{ fields.field_price.content }}</span>
</div>
<div>
  {{ fields.field_product_image.content }}
</div>
