{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
  ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    <div class="node--type-product node--view-mode-teaser">
      <div class="col-sm-12 bs-region">
        {{ row.content }}
      </div>
    </div>
  </div>
{% endfor %}
