{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <section>
      <div class="container clearfix">
        <div class="row">
          <div class="heading-block center nomargin">
            <h3{{ title_attributes }}><a href="/services">{{ label }}</a></h3>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
