.block-views-blockarticles-articles-summary-block {
  .ipost {
    box-shadow: 0 0 15px $silver;
    height:100%;
    position:relative;
    padding-bottom:55px;
    .entry-image img {
      height:230px;
    }
    .entry-title {
      padding:0 15px;
      h3 {
        text-transform:uppercase;
      }
    }
    .entry-meta {
      padding:0 15px;
    }
    .entry-content {
      padding:0 15px;
    }
    .read-more {
      padding:0 15px;
      margin-bottom:15px;
      float:right;
      position:absolute;
      bottom:0px;
      width:100%;
      text-align:right;
      &:before {
        content: '';
        display: block;
        border-top: 1px solid $silver;
        margin-bottom:5px;
      }
    }
  }
}

#sidebar_second .block {
  box-shadow: 0 0 15px $silver;
  padding:0px !important;
  > h2 {
    border:none;
    text-transform:uppercase;
    font-weight:600;
  }
  > h2 {
    padding:10px 15px 0 15px;
  }
  > .content {
    padding:15px;
    background-color:white;
  }
}
.block-views.block-views-blocktags-block-1 {
  ul {
    padding:0 15px;
    li {
      display:inline-block;
      .taxonomy-term {
        display:inline-block;
      }
      .views-field-name {
        border:none;
        text-transform:uppercase;
        font-weight:500;
        margin-bottom:0px;
        display:inline-block;
        span {
          letter-spacing:1px;
          display:inline-block;
          background-color:$azure_radiance;
          border-radius:15px;
          padding:3px 10px;
          font-size:8pt;
          color:white;
          a {
            color:white;
            text-shadow:unset;
            text-decoration:none;
          }
          &:hover {
            filter: brightness(1.2);
          }
        }
      }
    }
  }
}
