.block-views.block-views-blockbanners-block-1 {
  background-color:white;
  .slide {
    margin-bottom:-8px;
    .views-field-body {
      color:white;
      position:absolute;
      bottom:0px;
      width:100%;
      background-color:rgba(0,0,0,0.8);
      padding:15px 15px 0px 15px;
    }
  }
  .slick-prev,
  .slick-next {
  }
  .slick-prev {
    left:15px;
  }
  .slick-next {
    right:15px;
  }
  .slick-prev:before,
  .slick-next:before {
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    border-radius:50%;
    color: $color-primary-2;
    font-size: 24pt;
    line-height:32pt;
    position: relative;
    font-family:"Itcross-icons";
  }
  .slick-prev:before {
    content:"\EA01";
  }

  .slick-next:before {
    content:"\EA02";
  }
}
.slick--view--banners {
  img {
    max-width:100%;
    width:100%;
    object-fit:cover;
    height:500px;
  }
}

@media only screen and (min-width: 1440px) {
  .slick--view--banners {
    img {
      height:780px;
    }
  }
}

