.block-views-blockarticles-articles-summary-block,
.block-views-blockarticles-news-summary-block,
.block-views-blockarticles-blog-summary-block,
.block-views-blockproducts-block-products,
.block-views-blockservices-services-block{
  margin-bottom:50px;
  .col-auto {
    padding:0;
  }
  section {
    margin: 20px 0;
  }
  .heading-block {
    width:100%;
    h3 {
      font-size:16pt;
      margin-bottom: 0;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      a {
        color:inherit;
        text-decoration:none;
      }
    }
    &:after {
      content: '';
      display: block;
      margin-top: 20px;
      border-top: 2px solid #3b3b3b;
      margin: 13px auto 0;
    }
  }
  .ipost {
    .entry-image {
      margin-bottom:15px;
      img {
        object-fit: cover;
        height: 170px;
        width: 100%;
      }
    }
    .entry-title {
      h3 {
        font-size: 12pt;
        font-weight: 600;
        a {
          text-decoration:none;
          color:inherit;
          line-height:1.5;
          &:hover {
            color:$azure_radiance;
          }
        }
      }
    }
    .entry-meta {
      margin: 10px -10px -15px 0;
      list-style: none;
      padding:0;
      li {
        font-family:'Dosis';
        font-size: 11pt;
        font-weight:600;
        margin-right: 10px;
        float: left;
        line-height: 14px;
        margin: 0 10px 15px 0;
        color: #999;
        font-style: italic;
        &:first-child:before {
          content: "\f073";
          font-family:'Font Awesome 5 Free';
          font-weight:400;
          font-style:normal;
          font-size: 14px;
          margin-right: 5px;
        }
      }
    }
    .entry-content {
      margin-top: 20px;
      position: relative;
      font-size:12pt;
      p {
        margin-bottom: 0;
      }
    }
    .read-more {
      font-family:'Dosis';
      font-size: 13pt;
      font-style: italic;
      margin-top:15px;
      display:inline-block;
    }
  }
}
