.product-node-card {
  .commerce-product-card {
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px $silver;
    padding: 0 15px 15px;

    .field--name-title{
      margin-bottom: 5px;
      a{
        color: $dark-silver;
        text-decoration: none;
        font-weight: bold;

        &:hover{
          color: $azure_radiance;
        }
      }
    }

    .field--name-field-images.field--type-image {
      margin: 0 -15px;
    }
    .field--name-price{
      font-weight: bold;
    }
  }
}
.block-commerce-cart{
  display: flex;
  align-items: center;
}
.cart-block--summary__icon{
  img{
    height: 45px;
  }
}
.view-product-catalog{
  .view-filters{
    margin-bottom: 30px;

    .views-exposed-form{
      .form-row{
        align-items: baseline;

        .form-actions{
          align-self: baseline;
          margin-left: 20px;
        }
      }
    }
  }
}
.block-facet-blockproduct-categories, .block-facet-blockbrand{
  .content{
    .facets-widget-checkbox{
      ul{
        list-style: none;
        padding: 0;

        li{
          display: flex;
          align-items: center;

          label{
            margin: 5px 10px;
          }
        }
      }
    }
  }
}
.cart-block--contents {
  width: 425px;
}

//Commerce product page (full)
.commerce-product-full-page{
  .field--name-title{
    font-size: 16pt;
    font-weight: bold;
    margin: 25px 0;
  }
  .field--name-field-product-categories{
    display: flex;
    color: $dark-silver;

    .field__item{
      margin-right: 7px;

      &:after{
        content: " |";
      }
    }
  }
  .field--name-price{
    display: inline-block;
    font-weight: bold;
    margin: 30px 20px 0 0;
  }
  .field--name-variations{
    display: inline-block;
  }
}
