//---------Styles for Contacts page
.contacts-page-blocks-wrapper{
  .bs-2col-stacked{
    .bs-region{
      .block{
        -webkit-box-shadow: 0 0 15px $silver;
        box-shadow: 0 0 15px $silver;
      }
    }
    .col-sm-6{
      margin-bottom: 30px;
      .block{
        padding: 30px;
        height: 100%;

        .content{
          .contact-message-website-contact-form-form:before{
            content: "Send us an Email";
            font-size: 16pt;
            text-align: center;
            display: block;
            margin-bottom: 15px;
          }
        }
      }
    }
    .col-sm-12{
      .block{
        padding: 0;
      }
    }
  }
}
.field--name-field-google-map{
  margin-bottom: -7px;
}

@media (max-width: 768px) {
  .contacts-page-blocks-wrapper{
    .bs-2col-stacked{
      .col-sm-6{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
