.block-views-blockarticles-news-summary-block {
  .ipost {
    .entry-meta {
      display:inline-block;
    }
    .entry-image {
      float:left;
      position:relative;
      z-index:10;
      img {
        width:120px;
        height:120px;
        margin:7px 15px 0 0px;
      }
    }
    .entry-content {
      margin-top:0px;
    }
  }
}
