.portfolio-node-wrapper{
  margin-bottom: 30px;

  .node--type-portfolio-item.node--view-mode-teaser{
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0 0 15px $silver;
    box-shadow: 0 0 15px $silver;
    text-align: center;
    padding: 0;
    text-decoration: none;
    color: $just-black;
    transition: 0.3s;

    &:hover{
      box-shadow: 0 0 15px $dark-silver;
    }

    .field--name-node-title{
      padding: 10px 0;
      font-weight: 600;
    }
  }
}
.view-portfolio.view-id-portfolio.view-display-id-portfolio_block{
  .view-content.row{
    justify-content: center;
  }
}
@media (min-width: 992px) {
 .node--type-portfolio-item.node--view-mode-teaser{
   .field--name-field-images{
     .field__item{
       img{
         height: 260px;
         width: 100%;
         object-fit: cover;
         margin: 0;
       }
     }
   }
 }
}
