.product-node-card{
  .node--type-product.node--view-mode-teaser{
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0 0 15px #ccc;
    box-shadow: 0 0 15px $silver;
    padding: 15px;

    .bs-region{
      .field--name-field-product-image{
        text-align: center;
      }
      .field--name-node-title{
        a{
          font-size: 12pt;
          font-weight: 600;
          text-decoration: none;

          &:hover{
            color: $azure_radiance !important;
          }
        }
      }
      .field--name-field-price{
        font-weight: 600;
      }
    }
  }
  margin-bottom: 30px;
}
//----- This style also for price in Featured products block
.field--name-field-old-price{
  text-decoration: line-through;
  color: $dark-silver;
}
//----- This style also for Service nodes
.product-page-main-price,
.service-page-price{
  font-size: 18px;
  font-weight: 600;
}
