.service-node-card{
  margin-bottom: 30px;

  .node-service-content-teaser-wrapper{
    text-decoration: none;
    color: $just-black;

    .node--type-service.node--view-mode-teaser{
      display: block;
      height: 100%;
      width: 100%;
      -webkit-box-shadow: 0 0 15px $silver;
      box-shadow: 0 0 15px $silver;
      text-align: center;
      margin: 0;
      padding: 15px;
      transition: 0.3s;

      &:hover{
        box-shadow: 0 0 15px $dark-silver;
      }

      .field--name-field-service-image{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 120px;
      }
      .field--name-node-title{
        font-weight: 600;
        margin: 5px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .node-service-full-page-pictures{
    .field--name-field-service-image{
      display: flex;

      .field__item{
        margin: 10px;
      }
    }
  }
}
