.view-team.view-id-team.view-display-id-team_block{
  .view-content{
    text-align: center;
    justify-content: center;

    .person-node-wrapper{
      margin:25px 0 25px;

      .node--type-person{
        border: none;
        margin: 0;

        .bs-region{
          .field--name-field-displayed-name{
            font-size: 19px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
          }
          .field--name-field-position{
            color: $color-secondary-b-4;
            font-style: italic;
            font-size: 15px;
            font-weight: 600;
            margin: 5px 0 15px;
          }
          .field--name-field-brief{
            line-height: 1.8;
            color: #777;
          }
          .field--name-field-references{
            display: flex;
            justify-content: center;
            margin-top: 10px;

            .social-icon{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
