// Theme path
$theme_path: '/themes/custom/bootstrap_barrio_itcross';

// Colors
$azure_radiance: #007bff;

$color-primary-0: #06161f;
$color-primary-1: #091217;
$color-primary-2: #020d14;
$color-primary-3: #376e8f;
$color-primary-4: #4e778f;

$color-secondary-a-0: #080a22;
$color-secondary-a-1: #0b0c19;
$color-secondary-a-2: #030416;
$color-secondary-a-3: #3f4590;
$color-secondary-a-4: #555990;

$color-secondary-b-0: #042213;
$color-secondary-b-1: #091a11;
$color-secondary-b-2: #01160c;
$color-secondary-b-3: #329161;
$color-secondary-b-4: #4b916d;

$color-complement-0: #311e06;
$color-complement-1: #241a0d;
$color-complement-2: #201202;
$color-complement-3: #986b35;
$color-complement-4: #98774f;

$silver: #ccc;
$dark-silver: #6c757d;
$just-black: #000;
