.view-id-taxonomy_term.view-display-id-page_1, 
.view-id-articles.view-display-id-articles_page, 
.view-id-articles.view-display-id-blog_page,
.view-id-articles.view-display-id-news_page {
  .field--name-field-image {
    float:left;
    margin-right:15px;
  }
  .feed-icon {
    width: 25px;
    height: 25px;
    background-size: contain;
    margin-bottom: 30px;
  }
  .views-row {
    border-bottom:1px solid #d3d7d9;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
}
.field--name-node-title {
  a {
    color:inherit !important;
  }
}
.field--name-node-author {
  float:left; margin-right:20px;
}
.field--name-node-author,
.field--name-node-post-date {
  color:#999;
  font-size:11pt;
  margin-bottom:15px;
  i {
    margin-right:7px;
  }
}
.node--view-mode-full {
  .field--name-node-author,
  .field--name-node-post-date {
    float:right;
  }
}
