@charset "utf-8";
@import 'variables';
@import 'mixins';

// Fonts
@include font-face(Itcross-icons, $theme_path + '/fonts/_compiled/Itcross-icons', 500, normal, eot woff ttf);
@include font-face(font-icons, $theme_path + '/fonts/font-icons/font-icons', 500, normal, eot woff ttf);
@import 'font-icons/font-icons';
@import 'font-icons/font-icons-style';

@import 'banners';
@import 'blog-block';
@import 'news-block';
@import 'articles-block';
@import 'view-article-page';
@import 'product';
@import 'service';
@import 'team';
@import 'portfolio';
@import 'contacts';
@import 'commerce';

.fa {
  font-family:'Font Awesome 5 Free';
}

.contextual {
  z-index:10000000;
}

a {
  transition:200ms;
}

img {
  max-width:100%;
  height:auto;
}
.node .field--type-image {
  float:none;
}

h1 {
  margin-bottom:1rem;
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
  font-weight:700;
  img {
    margin-right:15px;
  }
}
.site-name-slogan {
  align-items: center;
  color: rgba(255,255,255,.5);
  font-size: 22pt;
  padding-right: 15px;
}
#main {
  margin-bottom:30px;
}

form.search-block-form .form-type-search {
  margin-right:10px;
}

/* Styles for bootstrap_layout */
#drupal-off-canvas {
  select[multiple] {
    -webkit-appearance: none;
    padding:0;
  }
  .form-check {
    padding-left:0;
    display:inline;
    top: -2px;
  }
  button, .button {
    color: #fff;
    background-color: $azure_radiance;
    padding: 0.375rem 0.75rem !important;
    margin-bottom:0;
    font-size: 1em;
    &:hover {
      text-decoration:none;
    }
  }
}

.form-actions.form-group,
.form-type-search.form-group {
  margin-bottom:0px;
}
.field--name-field-tags ul.links {
  display:inline-flex;
}
.node .field--type-image {
  margin-right:0px;
}
#header {
  margin-bottom:15px;
}
#navbar-top {
  background-color:$color-primary-2;
}
#navbar-main {
  background-color:$color-primary-0;
  .img-fluid {
    max-height:75px;
  }
}
.site-footer {
  background-color:$color-primary-1;
}

.highlighted {
  background-color:$color-primary-3;
  margin-top:-15px;
  margin-bottom:15px;
}
.head-wrapper {
  display:flex;
  width:100%;
}

// Author and date
span.author {
  margin-right:20px;
}
.author-date {
  color: #999;
  font-size: 11pt;
  margin-bottom: 15px;
  .fa {
    margin-right:3px;
  }
}
body.path-node .author-date {
  text-align:right;
}

// All links
.block.block-views .view-footer a {
  background-color: $azure_radiance;
  color: white;
  text-transform: uppercase;
  padding: 0px 10px;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 15px;
  display: table;
  margin-left:auto;
  &:hover {
    background-color: lighten($azure_radiance, 15%);;
  }
}

// Taxonomy menu
.hierarchical-taxonomy-menu {
  padding:0px;
  li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 0px;
    position: relative;

    &.hide {
      display: none;
    }

    span {
      display: inline-block;
      padding: 0px 5px;
    }

    &.parent_li > span {
      cursor: pointer;
    }
    .fa-circle {
      font-weight:400;
    }
  }
  .block-taxonomymenu__submenu {
    padding-left:20px;
  }
}

.site-footer .block,
.site-footer__top .block-menu,
.site-footer__bottom .block {
  margin: 0;
  border:none;
  padding: 0;
  p {
    margin:0;
  }
  li a {
    padding:0;
  }
}

#block-custom3 {
  .content a {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:3px;
    font-size:20pt;
    margin-right:5px;
    text-decoration:none;
    &:hover {
      opacity:1;
      //background-color:darken($azure_radiance, 15%);
    }
  }
}

#block-custom4 {
  .content {
    height:100%;
  }
  .field {
    display:flex;
    height:100%;
    align-items:center;
    margin-left:15px;
    color:rgba(255, 255, 255, 0.5);
    p {
      margin:0;
    }
    .icons {
      font-size:20pt;
      margin-left:15px;
    }
  }
}

#block-intro{
  -webkit-box-shadow: 0 0 15px #ccc;
  box-shadow: 0 0 15px $silver;
  text-align: center;
  padding: 30px;
  margin: 0 0 30px;
}

@media only screen and (min-width: 1480px) {
  html { overflow-x:hidden !important; }
  .container { max-width: 1440px; }
}

@media only screen and (max-width: 768px) {
.head-wrapper {
  flex-wrap:wrap;
  a.navbar-brand {
    flex:1;
    img {
      max-width:180px;
    }
  }
  .navbar-collapse {
    width:100%;
  }
}
}
