<div class="row">
  <div class="col-sm-12 col-lg-2 d-flex justify-content-center node-service-full-page-pictures">
    {{ content.field_service_image }}
  </div>
  <div class="col-sm-12 col-lg-10">
    <div>
      <h2>{{ label }}</h2>
      <div>{{ content.body }}</div>
    </div>
    <div class="border-top pt-2">
      <div class="service-page-price">{{ content.field_service_price }}</div>
    </div>
  </div>
</div>
