<div class="row pb-4">
  <div class="col-sm-12 col-lg-4">
    {{ content.field_product_image }}
  </div>
  <div class="col-sm-12 col-lg-7 d-flex justify-content-between flex-column">
    <div>
      <h2>{{ label }}</h2>
      <div>{{ content.body }}</div>
    </div>
    <div class="border-top">
      {{ content.field_old_price }}
      <div class="product-page-main-price">{{ content.field_price }}</div>
    </div>
  </div>
</div>
